.toy-thumbnail{
    width:100%
}
.box-img{
    width:25%;
 
}
.box-text{
    width:45%;
   
}
.box-ctrl{
    width:25%;
   
}
.box{
    display: inline-block;
    text-align: left;

}
.babybox{
    width:100%;
}
.img-div{
    width:150px;
    min-height:120px;
   display: inline-block;
}
#toy2baby{
    width:100px;
}
.mini-toy{
    display: inline-block;
}